<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>SENHA Detail</h1>
        {{ form.non_field_errors }}
        <div class="form-row label-block input-text">
            <label>Serviço:</label>
            {{ form.service }}
        </div>
        <div class="form-row label-block input-text">
            <label>Senha:</label>
            {{ form.ticket }}
        </div>
        <div class="form-row label-block input-text">
            <label>Data emissão:</label>
            {{ form.created_at }}
        </div>
</body>
</html>