<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

</head>
<body>
    <h1>SENHA FORM</h1>
    <form action="." method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
{#        <div class="form-row label-block input-text">#}
{#            <label for="{{ form.ticket.id_for_label }}">{{ form.ticket.label }}</label>#}
{#            {{ form.ticket.errors }}#}
{#            {{ form.ticket }}#}
{#        </div>#}
        <div class="form-row label-block input-text">
            <label for="{{ form.service.id_for_label }}">{{ form.service.label }}</label>
            {{ form.service.errors }}
            {{ form.service }}
        </div>

{#        <div class="form-group form-animate-text" style="margin-top:40px !important;">#}
{#            <input name="service" type="text" class="form-text" autocomplete="off" required autofocus>#}
{#            <span class="bar"></span>#}
{#            <label>Serviço</label>#}
{#        </div>#}

        <p class="btn-row"><input type="submit" value="Enviar!"/></p>
    </form>
</body>
</html>